USE [master]
GO
/****** Object:  Database [trendyshop]    Script Date: 14/12/2023 10:39:36 SA ******/
CREATE DATABASE [trendyshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trendyshop', FILENAME = N'D:\PTUD\trendyshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'trendyshop_log', FILENAME = N'D:\PTUD\trendyshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trendyshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trendyshop]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 14/12/2023 10:39:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHangHoa] [nchar](100) NOT NULL,
	[maHoaDon] [nchar](100) NOT NULL,
	[soLuong] [int] NULL,
	[giaBan] [float] NOT NULL,
	[thanhTien] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHangHoa] ASC,
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[maHangHoa] [nchar](100) NOT NULL,
	[tenHangHoa] [nvarchar](150) NULL,
	[phanLoai] [nvarchar](150) NULL,
	[thuongHieu] [nvarchar](150) NULL,
	[xuatXu] [nvarchar](150) NULL,
	[chatLieu] [nvarchar](150) NULL,
	[chiTietMoTa] [nvarchar](500) NULL,
	[hinhAnh] [nchar](100) NULL,
	[maNhaCungCap] [nchar](100) NULL,
	[kichCo] [nvarchar](50) NULL,
	[mauSac] [nvarchar](50) NULL,
	[soLuongTon] [int] NULL,
	[soLuongDaBan] [int] NULL,
	[donGiaNhap] [float] NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_hang_hoa] PRIMARY KEY CLUSTERED 
(
	[maHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nchar](100) NOT NULL,
	[thoiGianTao] [datetime] NULL,
	[tongThanhTien] [float] NULL,
	[maVoucher] [nchar](100) NULL,
	[maKhachHang] [nchar](100) NULL,
	[maNhanVien] [nchar](100) NULL,
	[trangThaiThanhToan] [bit] NULL,
 CONSTRAINT [PK_hoa_don] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nchar](100) NOT NULL,
	[soDienThoai] [nchar](15) NOT NULL,
	[tenKhachHang] [nvarchar](150) NULL,
	[email] [nchar](100) NULL,
	[diaChi] [nvarchar](150) NULL,
	[trangThai] [bit] NULL,
	[diemTichLuy] [float] NULL,
 CONSTRAINT [PK_khach_hang_1] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [nchar](100) NOT NULL,
	[tenNhaCungCap] [nvarchar](150) NULL,
	[soDienThoai] [nchar](15) NULL,
	[email] [nchar](50) NULL,
	[diaChi] [nvarchar](150) NULL,
 CONSTRAINT [PK_nha_cung_cap] PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nchar](100) NOT NULL,
	[hoTen] [nvarchar](150) NULL,
	[ngaySinh] [date] NULL,
	[soCCCD] [nchar](15) NULL,
	[soDienThoai] [nchar](15) NULL,
	[email] [nchar](50) NULL,
	[diaChi] [nvarchar](250) NULL,
	[chucVu] [nvarchar](50) NULL,
	[trangThai] [bit] NULL,
	[matKhau] [nchar](200) NULL,
	[phanQuyen] [bit] NULL,
	[hinhAnh] [nchar](100) NULL,
 CONSTRAINT [PK_nhan_vien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienDangNhap]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienDangNhap](
	[maPhienDangNhap] [nchar](100) NOT NULL,
	[thoiGianDangNhap] [datetime] NULL,
	[thoiGianDangXuat] [datetime] NULL,
	[maNhanVien] [nchar](100) NULL,
 CONSTRAINT [PK_phien_dang_nhap] PRIMARY KEY CLUSTERED 
(
	[maPhienDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherGiamGia]    Script Date: 14/12/2023 10:39:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherGiamGia](
	[maVoucher] [nchar](100) NOT NULL,
	[tenVoucher] [nvarchar](150) NULL,
	[moTaChuongTrinh] [nvarchar](250) NULL,
	[phanTramGiamTheoHoaDon] [float] NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[trangThai] [bit] NULL,
	[soLuotDung] [int] NULL,
 CONSTRAINT [PK_voucher_giam_gia] PRIMARY KEY CLUSTERED 
(
	[maVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([maHangHoa], [maHoaDon], [soLuong], [giaBan], [thanhTien]) VALUES (N'HH0001L                                                                                             ', N'HD202312140001                                                                                      ', 1, 119000, 119000)
INSERT [dbo].[ChiTietHoaDon] ([maHangHoa], [maHoaDon], [soLuong], [giaBan], [thanhTien]) VALUES (N'HH0001L                                                                                             ', N'HD202312140003                                                                                      ', 1, 119000, 119000)
INSERT [dbo].[ChiTietHoaDon] ([maHangHoa], [maHoaDon], [soLuong], [giaBan], [thanhTien]) VALUES (N'HH0001L                                                                                             ', N'HD202312140005                                                                                      ', 1, 119000, 119000)
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [soDienThoai], [tenKhachHang], [email], [diaChi], [trangThai], [diemTichLuy]) VALUES (N'KC0001                                                                                              ', N'0906702588     ', N'', N'                                                                                                    ', N'', 0, 0)
INSERT [dbo].[KhachHang] ([maKhachHang], [soDienThoai], [tenKhachHang], [email], [diaChi], [trangThai], [diemTichLuy]) VALUES (N'KH0000                                                                                              ', N'               ', N'', N'                                                                                                    ', N'', 0, 0)
INSERT [dbo].[KhachHang] ([maKhachHang], [soDienThoai], [tenKhachHang], [email], [diaChi], [trangThai], [diemTichLuy]) VALUES (N'KH0001                                                                                              ', N'0945959741     ', N'Đặng Thị Quyền Trân', N'tran@gmail.com                                                                                      ', N'Long An', 1, 5097)
GO
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [soDienThoai], [email], [diaChi]) VALUES (N'NCC001                                                                                              ', N'May Mặc Thành Đạt', N'0923452836     ', N'thanhdat@gmail.com                                ', N'Vung Tàu')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [soDienThoai], [email], [diaChi]) VALUES (N'NCC002                                                                                              ', N'P&T Vina', N'0923452288     ', N'quyentran@gmail.com                               ', N'TP.HCM')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [soDienThoai], [email], [diaChi]) VALUES (N'NCC003                                                                                              ', N'Fahad International', N'0923527287     ', N'dhkajs@gmail.com                                  ', N'TP.HCM')
GO
INSERT [dbo].[PhienDangNhap] ([maPhienDangNhap], [thoiGianDangNhap], [thoiGianDangXuat], [maNhanVien]) VALUES (N'PN0001                                                                                              ', CAST(N'2023-11-10T10:00:00.000' AS DateTime), CAST(N'2023-11-10T16:00:00.000' AS DateTime), N'NV0001                                                                                              ')
INSERT [dbo].[PhienDangNhap] ([maPhienDangNhap], [thoiGianDangNhap], [thoiGianDangXuat], [maNhanVien]) VALUES (N'PN0002                                                                                              ', CAST(N'2023-11-07T16:00:00.000' AS DateTime), CAST(N'2023-11-07T21:00:00.000' AS DateTime), N'NV0002                                                                                              ')
INSERT [dbo].[PhienDangNhap] ([maPhienDangNhap], [thoiGianDangNhap], [thoiGianDangXuat], [maNhanVien]) VALUES (N'PN0003                                                                                              ', CAST(N'2023-11-11T10:00:00.000' AS DateTime), CAST(N'2023-11-11T16:00:00.000' AS DateTime), N'NV0003                                                                                              ')
GO
INSERT [dbo].[VoucherGiamGia] ([maVoucher], [tenVoucher], [moTaChuongTrinh], [phanTramGiamTheoHoaDon], [ngayBatDau], [ngayKetThuc], [trangThai], [soLuotDung]) VALUES (N'VC0000                                                                                              ', N'', N'', 0, CAST(N'1759-01-01' AS Date), CAST(N'2999-12-31' AS Date), 0, 0)
INSERT [dbo].[VoucherGiamGia] ([maVoucher], [tenVoucher], [moTaChuongTrinh], [phanTramGiamTheoHoaDon], [ngayBatDau], [ngayKetThuc], [trangThai], [soLuotDung]) VALUES (N'VC0001                                                                                              ', N'Phiếu giảm giá', N'Mã số hoặc chuỗi ký tự đặc biệt được gọi là "mã giảm giá" là yếu tố quan trọng nhất của voucher. Đây là thông tin quyết định để kích hoạt ưu đãi khi thanh toán.', 0.05, CAST(N'2023-01-10' AS Date), CAST(N'2023-10-30' AS Date), 1, 90)
INSERT [dbo].[VoucherGiamGia] ([maVoucher], [tenVoucher], [moTaChuongTrinh], [phanTramGiamTheoHoaDon], [ngayBatDau], [ngayKetThuc], [trangThai], [soLuotDung]) VALUES (N'VC0002                                                                                              ', N'Phiếu giảm giá lần đầu', N'Voucher thường đi kèm với một giảm giá cụ thể, được tính theo tỷ lệ phần trăm (%) hoặc số tiền cụ thể (VND). Đôi khi, nó có thể áp dụng cho một sản phẩm hoặc một danh mục sản phẩm cụ thể.', 0.2, CAST(N'2022-10-01' AS Date), CAST(N'2022-11-29' AS Date), 0, 10)
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_chi_tiet_hoa_don_hang_hoa] FOREIGN KEY([maHangHoa])
REFERENCES [dbo].[HangHoa] ([maHangHoa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_chi_tiet_hoa_don_hang_hoa]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_chi_tiet_hoa_don_hoa_don] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_chi_tiet_hoa_don_hoa_don]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_hang_hoa_nha_cung_cap] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_hang_hoa_nha_cung_cap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_khach_hang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_hoa_don_khach_hang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_nhan_vien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_hoa_don_nhan_vien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_voucher_giam_gia] FOREIGN KEY([maVoucher])
REFERENCES [dbo].[VoucherGiamGia] ([maVoucher])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_hoa_don_voucher_giam_gia]
GO
ALTER TABLE [dbo].[PhienDangNhap]  WITH CHECK ADD  CONSTRAINT [FK_phien_dang_nhap_nhan_vien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhienDangNhap] CHECK CONSTRAINT [FK_phien_dang_nhap_nhan_vien]
GO
USE [master]
GO
